body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#000;
padding:15px;
text-align:center;
color:#00f7ff;
}

.container{
padding:20px;
}

.article-card{
background:#1a1a1a;
padding:15px;
margin:15px 0;
border-radius:10px;
}

a{
color:#00f7ff;
text-decoration:none;
}

h1,h2{
color:#00f7ff;
}
